@model IEnumerable<MCCA.Models.User>
@{
    ViewData["title"] = "Manage Accounts";
}
<h1>Manage Accounts</h1>
<fieldset>
    @*Adding a create account button*@
    <button type="submit" value="Add Account" onclick="location.href='@Url.Action("AddAccount", "Admin")'" class="btn btn-primary">Add Account</button>
    @*Adding textfield and buttons to create a search bar*@
    <label for="Name">Name:</label>
    <input type="text" id="Name">
    <button type="submit" value="Filter First Name" onclick="location.href='@Url.Action("Index", "Admin")'" class="btn btn-primary">Filter by First Name</button>
    <button type="submit" value="Filter Last Name" onclick="location.href='@Url.Action("Index", "Admin")'" class="btn btn-primary">Filter by Last Name</button>
</fieldset>
<table class="table">
    <thead>
        <tr>
            @*Table Headings*@
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Center)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @*Table information provided by the SQL server from the Users table excluding the Admin with an Edit and Delete
      link for each entry*@
    @foreach (var item in Model)
    {
        if (item.AccountType.ToString().Equals("Admin") != true)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AccountType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Center)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    }
    </tbody>
</table>