@model IEnumerable<MCCA.Models.Center>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Manage Centers";
}
<h2>Manage Centers</h2>
<fieldset>
    @*Adding a create center button*@
    <!--
        <button type="submit" value="Add Center" onclick="location.href='@Url.Action("PictureTest", "Admin")'" class="btn btn-primary">Add Center</button>
    -->

    @using (Html.BeginForm("PictureTest", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <input type="file" name="uploadFile" id="uploadFile" />
        <input type="submit" />
    }


    <form action="/Admin/PictureTest" method="post" enctype="multipart/form-data">

        <label for="uploadFile">Photo:</label>
        <input type="file" name="uploadFile" id="uploadFile" />

        <input type="submit" value="PictureTest" />
    </form>
</fieldset>

@*Adding a hard-coded table*@
<table class="table" style="margin-top:20px;">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DirectorName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OfficeNumber)
        </th>
        <th></th>
    </tr>
    <tr>
        <td>
            California State University, Sacramento
        </td>
        <td>
            6000 J Street, Sacramento, CA 95819
        </td>
        <td>
            Jaime White
        </td>
        <td>
            (916) 278-5468
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="">Edit</a> |
            <a asp-action="Delete" asp-route-id="">Delete</a>
        </td>
    </tr>
    <tr>
        <td>
            UC Davis
        </td>
        <td>
            1 Shields Avenue, Davis, CA 95616
        </td>
        <td>
            Rosalyn Earl-Clark
        </td>
        <td>
            (530) 752-2195
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="">Edit</a> |
            <a asp-action="Delete" asp-route-id="">Delete</a>
        </td>
    </tr>
</table>
