@model IEnumerable<MCCA.Models.User>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Manage Accounts";
}
<h1>Manage Accounts</h1>
<fieldset>
    @*Adding a create account button*@
    <button type="submit" value="Add Account" onclick="location.href='@Url.Action("AddAccount", "Admin")'" class="btn btn-primary">Add Account</button>
    @*Adding textfield and buttons to create a search bar*@
    <label for="Name">Name:</label>
    <input type="text" id="Name">
    <button type="submit" value="Filter First Name" onclick="location.href='@Url.Action("Index", "Admin")'" class="btn btn-primary">Filter by First Name</button>
    <button type="submit" value="Filter Last Name" onclick="location.href='@Url.Action("Index", "Admin")'" class="btn btn-primary">Filter by Last Name</button>
</fieldset>
@*Adding a hard-coded table*@
<table class="table" style="margin-top:20px;">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccountType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Center)
        </th>
        <th></th>
    </tr>
    <tr>
        <td>
            Michael
        </td>
        <td>
            Johnson
        </td>
        <td>
            Staff
        </td>
        <td>
            Sac State
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="">Edit</a> |
            <a asp-action="Delete" asp-route-id="">Delete</a>
        </td>
    </tr>
    <tr>
        <td>
            Nick
        </td>
        <td>
            Buffalo
        </td>
        <td>
            Staff
        </td>
        <td>
            Sac State
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="">Edit</a> |
            <a asp-action="Delete" asp-route-id="">Delete</a>
        </td>
    </tr>
</table>