@model IEnumerable<MCCA.Models.User>
@{
    ViewData["title"] = "Manage Accounts";
    String directorCenter = ViewBag.directorCenter;
}
<h2>Manage Accounts</h2>
<fieldset>
    @*Adding a create account button that will be 20 pixels about the search bar and other buttons*@
    <button type="submit" onclick="location.href='@Url.Action("AddAccount", "Director")'" style="margin-bottom:20px"class="btn btn-primary">Add Account</button>
    @*Adding textfield and buttons to create a search bar*@
    <form>
        <label for="Name">Name:</label>
        @*Textbox that will be used to search user list*@
        <input type="text" name="name" id="SearchName">
        @*Adding a search button that sends the contents of the textbox to the "name" parameter of "ManageAccounts"*@
        <button type="submit"  class="btn btn-primary">Search</button>
        @*Adding a filter button that sends the "First Name" value to the "sortOrder" parameter of "ManageAccounts"*@
        <button type="submit" name ="sortOrder" value="First Name" class="btn btn-primary">Filter by First Name</button>
        @*Adding a filter button that sends the "Last Name" value to the "sortOrder" parameter of "ManageAccounts"*@
        <button type="submit" name ="sortOrder" value="Last Name" class="btn btn-primary">Filter by Last Name</button>
    </form>
</fieldset>
<table class="table">
    <thead>
        <tr>
            @*Table Headings*@
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Center)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @*Table information provided by the SQL server from the Users table excluding the Admin, Directors and those not in the Director's center
      and with an Edit and Delete link for each entry*@
    @foreach (var item in Model)
    {
        if (item.AccountType.ToString().Equals("Admin") != true && item.AccountType.ToString().Equals("Director") != true && item.Center == directorCenter)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AccountType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Center)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    }
    </tbody>
</table>